@font-face {
  font-family: 'AAMagnum';
  src: url('../fonts/AA Magnum.ttf') format('truetype');
}
@font-face {
  font-family: 'Amelia_DG';
  src:  url("../fonts/Amelia_DG.woff") format('woff'),
  url("../fonts/Amelia_DG.ttf")  format('truetype');
}

#menu__toggle {
  opacity: 0;
  height: 27px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 83% !important;
  top: 105px;
  position: absolute;
  /*right: 0px; !important;*/
  text-align: right;
}
.menu__btn {
  position: fixed;
  top: 51px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;

}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  /*width: 100%;*/
  /*height: 2px;*/
  background-color: #58a432;
  transition-duration: .25s;
  width: 37px;
  height: 5px;
  border-radius: 7px;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: 200%;
  width: 244px;
  height: 20%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #000000;
  font-family: 'AA Magnum', sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
/* Блок уроки */
.title-wrapper {
  /* background: #3E9FB3;
  box-shadow: inset 0px -5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  padding: 18.5px 56px;
  margin: auto;
  margin-top: 36px;
  display: flex; */

  background: #3E9FB3;
  box-shadow: inset 0px -5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 41px;
  padding: 1.46px 35.32px 5.37px 57px;
  margin: auto;
  margin-top: 36px;
  display: flex;

  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 4px;

}

.bell {
  height: 105.08px;
  width: 99.88px;
  margin-top: 1.46px;
  display: flex;
}
.header__content_link__active{
  padding: 10px 13px;
  border-radius: 9px;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  transition: .3s;
  background-color: #58A532;
  color: #FFF;
}

/* Надпись уроки */
.title {
  /* font-family: 'Amelia_DG';
  color: #FFF;
  font-size: 96px;
  letter-spacing: 0.1em */

  font-family: 'Amelia_DG';
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 105px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Планеты */
.planet1 {
  height: 132px;
  width: 130px;
  margin: 15px auto 0 auto;
  display: flex;
}

.planet2 {
  height: 134px;
  width: 129px;
  margin: 12px auto 0 auto;
  display: flex;
}

.planet3 {
  height: 130px;
  width: 133px;
  margin: 16px auto 0 auto;
  display: flex;
}

.planet4 {
  height: 136px;
  width: 128px;
  margin: 13px auto 0 auto;
  display: flex;
}

.planet5 {
  height: 133px;
  width: 128px;
  margin: 10px auto 0 auto;
  display: flex;
}

.planet6 {
  height: 127px;
  width: 218px;
  margin: 14px auto 0 auto;
  display: flex;
}

.planet7 {
  height: 140px;
  width: 130px;
  margin: 10px auto 0 auto;
  display: flex;
}

.planet8 {
  height: 140px;
  width: 194px;
  margin: 10px auto 0 auto;
  display: flex;
}

.mod1 {


}

.tag {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-top: 2px;
  margin-left: -12px;
}

.tag__body {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 4px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 35px 100px 100px 0px;
  padding: 10px 30px;
  width: auto;
  margin-right: auto;
}

.tag__title {
  width: auto;
  font-family: 'AAMagnum', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  letter-spacing: 0.075em;
  color: #000000;
  /*margin-top: 6px; */
}

.tag__title_location-1 {
  margin-top: 3px;
}

.tag__title_location-2 {
  margin-top: 5px;
}

.tag__title_location-3 {
  margin-top: 4px;
}

.tag__title_location-4 {
  margin-top: 1px;
}

.tag__title_location-5 {
  margin-top: 7px;
}

.tag__title_location-6 {
  margin-top: 10px;
}

.tag__title_location-7 {
  margin-top: 0px;
}

.tag__title_location-8 {
  margin-top: 0px;
}

.tag__title_number {
  font-size: 40px;
}
.tag__title_number-1 {
  color: #FFACAC;
}

.tag__title_number-2 {
  color: #D4C0FF;
}

.tag__title_number-3 {
  color: #FFA47E;
}
.tag__title_number-4 {
  color: #DCFFC6;
}

.tag__title_number-5 {
  color: #FFBCF4;
}

.tag__title_number-6 {
  color: #C4D1FF;
}

.tag__title_number-7 {
  color: #FFEDB6;
}

.tag__title_number-8 {
  color: #FDC9C9;
}

.tag-tail {
  fill: none;
  width: 24px;
  height: 12px;
}

.tag-tail__path {
  fill: #BCBCBC;
  width: 12px;
  height: 6px;
}


.tag1 {
  margin-left: -8px;
  margin-bottom: 32px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 4px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 8px 100px 100px 0px;
}


/* Параметры блока с плашеками */
.block-gallery {
  margin-top: 99px;
  display: flex;
  flex-direction: row;
  width: auto;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 75px;
  display: flex;
  padding: 0 12px;
}

/* Параметры каждой плашки */
.block-gallery__item {
  margin-bottom: 26px;
}

/* Характеристики каждой плашки */
.block-item {
  width: 234px;
  height: 228px;
  border-radius: 41px;
  display: flex;
  box-shadow: inset 0px 5px 2px rgba(0, 0, 0, 0.25);
}

/* Цвета плашек */
.block-item_yellow {
  background: #FFACAC;;
}

.block-item_violet {
  background: #D4C0FF;
}

.block-item_light_pink {
  background: #FFA47E;
}

.block-item_grey-blue {
  background: #DCFFC6;
}

.block-item_grey-pink {
  background: #FFBCF4;
}

.block-item_light-green {
  background: #C4D1FF;
}

.block-item_red {
  background: #FFEDB6;
}

.block-item_pink {
  background: #FDC9C9;
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html, body {
  height: 100vh;
  font-family: "AAMagnum", fantasy;
  background-color:#583989;
  background-image: url('../img/backgroundPattern.png');
  background-size: contain;
  /* background-repeat: space;
  /* background-position: 5% 1%; */
}

p {display: inline-block}

/* Ссылки без подчеркивания  */
a {
  text-decoration: none;
}

/* Расположение основного контейнера */
main {
  width: 1185px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
/* Шапка */
.header {
  width: 100%;
  height: 105px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color:#ffffff;
}

.header__content {
  width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 135px;
}

.header__navigation {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 80px;
  list-style: none;
}

.header__content_item {}

.header__content_link {
  background-color: transparent;
  padding: 10px 13px;
  border-radius: 9px;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  color: #58A532;
  transition: .3s;
}

.header__content_link:hover {
  background-color: #58A532;
  color: #FFF;
}

.header__menu {
  height: 27px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.header__menu_line {
  width: 37px;
  height: 7px;
  border-radius: 10px;
  background-color: #58A532;
}

.link-block {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  display: inherit;
  flex-direction: column;
}


@media (max-width:1161px) {
  .container {
    padding: 0 15px;
  }
}

.block-gallery__item:hover {
  filter: brightness(80%);
}


/* .tag:hover {
  filter: brightness(80%);
} */
