@font-face {
  font-family: 'AAMagnum';
  src: url('../fonts/AA Magnum.ttf') format('truetype');
}

@font-face {
  font-family: 'Amelia_DG';
  src: url("../fonts/Amelia_DG.woff") format('woff'),
  url("../fonts/Amelia_DG.ttf") format('truetype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  font-family: "AAMagnum", fantasy;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

}

.header {
  width: 100%;
  height: 105px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header__content {
  width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 135px;
}

.header__navigation {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 80px;
  list-style: none;
}

.header__content_item {
}

.header__content_link {
  background-color: transparent;
  padding: 10px 13px;
  border-radius: 9px;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  color: #58A532;
  transition: .3s;
}

.header__content_link:hover {
  background-color: #58A532;
  color: #FFF;
}

.header__content_link__active {
  padding: 10px 13px;
  border-radius: 9px;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  transition: .3s;
  background-color: #58A532;
  color: #FFF;
}

.header__menu {
  height: 27px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.header__menu_line {
  width: 37px;
  height: 7px;
  border-radius: 10px;
  background-color: #58A532;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background: #583A89;
}

.main__content {
  flex: 1;
  position: relative;
  width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 135px;
  /*overflow: hidden;*/
}

#menu__toggle {
  opacity: 0;
  height: 27px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  left: 83% !important;
  top: 105px;
  position: absolute;
  /*right: 0px; !important;*/
  text-align: right;
}

.menu__btn {
  position: fixed;
  top: 51px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;

}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  /*width: 100%;*/
  /*height: 2px;*/
  background-color: #58a432;
  transition-duration: .25s;
  width: 37px;
  height: 5px;
  border-radius: 7px;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: 200%;
  width: 244px;
  height: 20%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #000000;
  font-family: 'AA Magnum', sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

.image1 {
  display: flex;
  justify-content: center;
  margin-top: 7%;
  margin-bottom: 50px;
}

.image2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  margin-left: 77px;
  width: 1012px;
  height: 685px;
  left: 362px;
  top: 132px;

  border-radius: 36px;
  background-color: #E7FFD8;

}


