<!DOCTYPE html>
<html class="no-js" lang="ru" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8" />
    <title>Награды</title>
    <link
      rel="shortcut icon"
      href="../../img/image1.png"
      type="image/x-icon"
      sizes="180"
    />
    <meta
      name="description"
      content="Сайт для обучения детей таблице умножения"
    />
    <link href="../../css/awards_fairy_tale.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container">
      <div class="main__asides">
        <div class="content">
          <aside id="circle1"></aside>
          <aside id="circle2"></aside>
        </div>
      </div>
      <header class="header">
        <nav class="header__content">
          <ul class="header__navigation">
            <li class="header__content_item">
              <a class="header__content_link" href="../index.html">главная</a>
            </li>
            <li class="header__content_item">
              <a class="header__content_link" href="../about.html"
                >личный кабинет</a
              >
            </li>
            <li class="header__content_item">
              <a class="header__content_link" href="../education.html"
                >обучение</a
              >
            </li>
            <li class="header__content_item">
              <a class="header__content_link__active" href="../awards.html"
                >награды</a
              >
            </li>
          </ul>
          <div class="hamburger-menu">
            <input id="menu__toggle" type="checkbox" />
            <label class="menu__btn" for="menu__toggle">
              <span></span>
            </label>

            <ul class="menu__box">
              <li>
                <a class="menu__item" href="../train.html"
                  >Тренажер таблицы умножения</a
                >
              </li>
              <li>
                <a class="menu__item" href="../table.html">Таблица умножения</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>

      <main class="main">
        
        <div class="main__elements">
          <div class="title-wrapper">
            <h1 class="title">Сказка</h1>
          </div>
          <div class="main__book book-container">
            <div class="book-container__left-page">
              <img class="book_title" src="../../img/book_title.png" />
            </div>
            <div class="book-container__right-page right-page">
              <p class="right-page__story">
                Жили-были цифры: 1, 2, 3, 4, 5, 6, 7, 8 и 9. Они жили в мире
                математики, но не знали больших чисел, и откуда они берутся.
                Цифры были хорошими друзьями, знали, что, помогая друг другу,
                получается сложение и вместе у них получается решать задачки.
                Единица знала, что вместе с двойкой или пятеркой, ей получится
                гораздо быстрее вскопать огород или убраться дома, ведь тогда их
                сила будет равна 1 + 2 = 3 или 1 + 5 = 6.
              </p>
              <audio controls class="audio">
                <source
                  src="../../audio/part1.ogg"
                  type="audio/ogg; codecs=vorbis"
                />
              </audio>
            </div>
            <a href="../develop.html"
              ><img class="right_arrow" src="../../img/right_arrow.png"
            /></a>
            <a href="#"
              ><img class="left_arrow" src="../../img/left_arrow.png"
            /></a>
            <a href="../awards.html"
              ><img class="back" src="../../img/back.png"
            /></a>
          </div>
        </div>
      </main>

      <!--<main class="main">
        <img class="book" src="../../img/book.png" />
        <div class="main__content">
        </div>
      </main>-->
    </div>
  </body>
</html>
