.progress_indicator {
  width: 810px;
}
.tasks {
  margin: 122px 56px 0 183px;
  height: 467px;
}


#answer1 {
  position: absolute;
  left: 694px;
  top: 277px;
  height: 139px;
}

.ex1 {
  padding-top: 26px;
}

.ex2 {
  padding-top: 26px;
}

#answer2 {
  position: absolute;
  left: 694px;
  top: 432px;
  height: 139px;
}
#show {
  position: absolute;
  width: 66px;
  height: 66px;
  left: 8px;
  top: 590px;
  border-radius: 50%;
  border: 1px solid #3E9FB3;
  background: #3E9FB3;
  color: #FFFFFF;
  font-family: Amelia_DG, serif;
  font-size: 35px;
  font-weight: bold;
}


dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

dialog {
  position: absolute;
  width: 1012px;
  height: 724px;
  left: 453px;
  top: 140px;
  border-radius: 20px;
  border: 6px solid #3E9FB3;
  align-items: center;

}

.diaolog img{
  margin-top: 15px;
  margin-left: 200px;
}



.diaolog p{
  font-family: 'AA Magnum';
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1em;
  margin-top: 15px;
  color: #000000;
}

#close{
  background: #3E9FB3;
  border-radius: 20px;
  border: 1px solid #3E9FB3;
  margin-left: 0;
  width: 202px;
  height: 65px;
  display: flex;
  justify-content: center;
  font-family: 'AA Magnum';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 61px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;

  color: #FFFFFF;
}
