<!doctype html>
<html class="no-js" lang="ru">

<head>
  <meta charset="utf-8">
  <title>Награды</title>
  <link rel="shortcut icon" href="../../img/image1.png" type="image/x-icon" sizes="180"/>
  <meta name="description" content="Сайт для обучения детей таблице умножения">
  <link href="../../css/tasks.css" rel="stylesheet">
  <link href="../../css/smartcoin.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
    rel="stylesheet">
</head>

<body>
<div class="container">
  <header class="header">
    <nav class="header__content">
      <ul class="header__navigation">
        <li class="header__content_item">
          <a class="header__content_link" href="../index.html">главная</a>
        </li>
        <li class="header__content_item">
          <a class="header__content_link" href="../about.html">личный кабинет</a>
        </li>
        <li class="header__content_item">
          <a class="header__content_link__active" href="../education.html">обучение</a>
        </li>
        <li class="header__content_item">
          <a class="header__content_link" href="../awards.html">награды</a>
        </li>
      </ul>
      <div class="hamburger-menu">
        <input id="menu__toggle" type="checkbox"/>
        <label class="menu__btn" for="menu__toggle">
          <span></span>
        </label>

        <ul class="menu__box">
          <li><a class="menu__item" href="../train.html">Тренажер таблицы умножения</a></li>
          <li><a class="menu__item" href="../table.html">Таблица умножения</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="main">
    <a href="task6.html"><img class="back" src="../../img/back.png"/></a>

    <div class="main__content">
      <div class="title-wrapper">
        <h1 class="title">Модуль пройден!</h1>
      </div>
      <div id="tasks" class="tasks task6">
        <img class="cloud6" src="../../img/6smartcoins.png" width="588">
        <img class="animal6" src="../../img/giraffe6.png" height="309">
        <img class="coins" src="../../img/coins.png" height="322">
        <img class="garbage" src="../../img/garbage.png" height="138">
      </div>
      <div id="roctangles"><p>Ты можешь потратить их во вкладке <span class="roctangles1" style="color: #58A532"><a href="../awards.html">награды</a> </span></p></div>
      <div class="button_cont">
        <a class="button_continue" href="../lessons/modul4.html">продолжить</a>
      </div>
    </div>
  </main>
</div>
<script src="../../js/modul3_tasks.js"></script>
</body>

</html>
