<!doctype html>
<html class="no-js" lang="ru" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="utf-8">
  <title>Обучение модуль 5</title>
  <link rel="shortcut icon" href="../../img/image1.png" type="image/x-icon" sizes="180"/>
  <meta name="description" content="Сайт для обучения детей таблице умножения">
  <link href="../../css/lessons/modul5.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
<div class="container">
  <header class="header">
    <nav class="header__content">
      <ul class="header__navigation">
        <li class="header__content_item">
          <a class="header__content_link" href="../index.html">главная</a>
        </li>
        <li class="header__content_item">
          <a class="header__content_link" href="../about.html">личный кабинет</a>
        </li>
        <li class="header__content_item">
          <a class="header__content_link__active" href="../education.html">обучение</a>
        </li>
        <li class="header__content_item">
          <a class="header__content_link" href="../awards.html">награды</a>
        </li>
      </ul>
      <div class="hamburger-menu">
        <input id="menu__toggle" type="checkbox"/>
        <label class="menu__btn" for="menu__toggle">
          <span></span>
        </label>

        <ul class="menu__box">
          <li><a class="menu__item" href="../train.html">Тренажер таблицы умножения</a></li>
          <li><a class="menu__item" href="../table.html">Таблица умножения</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="main">
    <a href="../education.html"><img class="back2" src="../../img/back.png"/></a>
    <div class="main__content">
      <div class="title-wrapper">
        <h1 class="title">модуль<span class="one">5</span></h1>
      </div>

      <div class="back">
        <div class="circle"><img src="../../img/planet4.png" width="75"></div>
      </div>

      <div class="lesson">
        <ul class="text">
          <li class="first"><p><strong>Ты замечательно справился со всеми прошлыми задачками, настало время решать более
            сложные!</strong></p>
          </li>
          <li><p>В этом модуле мы научимся умножать на цифры <font
            style="color: #58A532">1</font>, <font
            style="color: #58A532">2</font>, <font
            style="color: #58A532">3</font> и <font
            style="color: #58A532">10</font>.</p>
          </li>
          <li class="first2">
            <img src="../../img/one1.png" width="66">
            <p>
              При умножении любого числа на <font
              style="color: #3E9FB3">единицу</font>
              , умножаемое число останется таким же, например,
            </p>
            <p id="roctangle_1">5 <font style="color: #E6643B; font-weight: bold"> &#10006; </font>1 = 5</p>
            <p id="roctangle_2">3 <font style="color: #E6643B; font-weight: bold"> &#10006; </font>1 = 3</p>
          </li>
          <li class="second">
            <img src="../../img/two2.png" width="66">
            <p>При умножении любого числа на <font
              style="color: #3E9FB3">двойку</font>, нужно его удвоить, то есть взять само это число 2 раза,
              например,</p>
            <p id="roctangle_3">3 <font style="color: #E6643B; font-weight: bold"> &#10006; </font>2 = 6</p>
            <p id="roctangle_4">3 <font style="color: #7759AB; font-weight: bold"> + </font>3 = 6</p>
          </li>
          <li class="third">
            <img src="../../img/three3.png" width="66">
            <p>При умножении любого числа на <font
              style="color: #3E9FB3">тройку</font>, нужно его утроить, то есть взять само это число 3 раза, например,
            </p>
            <p id="roctangle_5">4 <font style="color: #E6643B; font-weight: bold"> &#10006; </font>3 = 12</p>
            <p id="roctangle_6">4 <font style="color: #7759AB; font-weight: bold"> + </font>4 <font
              style="color: #7759AB; font-weight: bold"> + </font>4 = 12</p>
          </li>
          <li class="ten">
            <img src="../../img/ten10.png" width="66">
            <p>При умножении любого числа на <font
              style="color: #3E9FB3">десять</font>, к первому нужно добавить 0 в конце. Таким образом мы увеличим число
              его десятков на один. Например, </p>
            <p id="roctangle_7">2 <font style="color: #E6643B; font-weight: bold"> &#10006; </font>10 = 20</p>
            <p id="roctangle_8">5 <font style="color: #E6643B; font-weight: bold"> &#10006; </font>10 = 50</p>
          </li>
          <li class="poet"><p>Также мы подготовили для тебя стишки на некоторые из примеров в таблице умножения. Если
            запомнишь их, то сможешь быстро вспоминать ответ даже не считая их.</p></li>
          <li id="roctangle_9">
            <img src="../../img/penguin.png" width="83">
            <p>Один пингвин гулял средь льдин.
              Одиножды один — один.</p>
          </li>
          <li id="roctangle_10">
            <img src="../../img/crab.png" width="121">
            <p>Повстречался с раком краб:
              Дважды шесть — двенадцать лап.</p>
          </li>
          <li id="roctangle_11">
            <img src="../../img/mouse.png" width="132">
            <p>Дважды семь мышей —
              Четырнадцать ушей!</p>
          </li>
          <li class="four"><p>Потренируйся умножать числа на 1, 2, 3 и 10 в заданиях. Помни, что если вдруг забыл, как решать, можешь
            обратиться к таблице умножения в подсказке.</p></li>

          <li class="button_cont">
            <a class="button_continue" href="../modul5_tasks/task1.html">продолжить</a>
          </li>
          <li></li>
        </ul>
      </div>


    </div>
  </main>
</div>
</body>

</html>
