<!doctype html>
<html class="no-js" lang="ru" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="utf-8">
  <title>Обучение модуль 2</title>
  <link rel="shortcut icon" href="../../img/image1.png" type="image/x-icon" sizes="180"/>
  <meta name="description" content="Сайт для обучения детей таблице умножения">
  <link href="../../css/lessons/modul2.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
<div class="container">
  <header class="header">
    <nav class="header__content">
      <ul class="header__navigation">
        <li class="header__content_item">
          <a class="header__content_link" href="../index.html">главная</a>
        </li>
        <li class="header__content_item">
          <a class="header__content_link" href="../about.html">личный кабинет</a>
        </li>
        <li class="header__content_item">
          <a class="header__content_link__active" href="../education.html">обучение</a>
        </li>
        <li class="header__content_item">
          <a class="header__content_link" href="../awards.html">награды</a>
        </li>
      </ul>
      <div class="hamburger-menu">
        <input id="menu__toggle" type="checkbox"/>
        <label class="menu__btn" for="menu__toggle">
          <span></span>
        </label>

        <ul class="menu__box">
          <li><a class="menu__item" href="../train.html">Тренажер таблицы умножения</a></li>
          <li><a class="menu__item" href="../table.html">Таблица умножения</a></li>
        </ul>
      </div>
    </nav>
  </header>
    <main class="main">
    <a href="../education.html"><img class="back2" src="../../img/back.png"/></a>
    <div class="main__content">
      <div class="title-wrapper">
        <h1 class="title">модуль<span class="one">2</span></h1>
      </div>

      <div class="back">
        <div class="circle"><img src="../../img/planet2.png" width="75"></div>
      </div>

      <div class="lesson">
        <ul class="text">
          <li class="first"><p><strong>Ты большой молодец!</strong> Уже справился с целым разделом. Давай перейдем к
            следующему уроку.</p>
          </li>
          <li><p>Здесь мы с тобой узнаем, как работает умножение.</p></li>
          <li class="second"><p>Знак <font style="color: #E6643B">умножения</font> показывает, сколько раз ты можешь
            взять одинаковое число. Если у тебя написано &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <div id="roctangle_4" class="examp">2 <font style="color: #E6643B; font-weight: bold"> &#10006; </font> 3
            </div>
            <img src="../../img/arrow.png" width="60.15">

          </li>
          <li class="third"><p>это означает, что тебе нужно будет взять <font
            style="color: #583989">цифру</font>&nbsp;<font style="color: #58A532">2</font> и сложить ее <font
            style="color: #58A532">3</font> <font style="color: #583989">раза</font>.<br> Это выглядит как 2 + 2 + 2 =
            6,
            но также можно взять цифру 3 и сложить ее уже 2 раза, ты получишь 3 + 3 = 6.</p>
          </li>
          <li id="roctangle_1">
            <img src="../../img/modul2examp.png" width="776.57">
          </li>
          <li><p>В сложении мы называли цифры <font style="color: #7759AB; font-weight: normal">слагаемыми</font>, а их
            результат - <font style="color: #7759AB; font-weight: normal">суммой</font>. А сейчас тебе нужно запомнить,
            что
            числа, которые ты перемножаешь - <font style="color: #E6643B; font-weight: normal">множители</font>, а
            результат их умножения - <font style="color: #E6643B; font-weight: normal">произведение</font>.</p></li>
          <li id="sum">
            <img src="../../img/sum.png" width="600">
          </li>
          <li id="multi">
            <img src="../../img/multi.png" width="600">
          </li>
          <li><p>Умножение поможет тебе гораздо быстрее считать, чтобы каждый раз не представлять длинные сложения.
            Попробуй рассчитать умножением в следующем примере самостоятельно.</p></li>
          <li id="roctangle_2">
            <img src="../../img/onehand.png" width="105">
            <p>
              Обрати внимание на подсказку, которая подскажет тебе, что это такое же сложение одинаковых чисел, только
              выглядит оно по-другому.
            </p>
          </li>
          <li class="button_cont">
            <a class="button_continue" href="../modul2_tasks/task1.html">продолжить</a>
          </li>
          <li></li>
        </ul>
      </div>


    </div>
  </main>
</div>
</body>

</html>
