<!doctype html>
<html class="no-js" lang="ru" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="utf-8">
  <title>Обучение модуль 3</title>
  <link rel="shortcut icon" href="../../img/image1.png" type="image/x-icon" sizes="180"/>
  <meta name="description" content="Сайт для обучения детей таблице умножения">
  <link href="../../css/lessons/modul3.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
<div class="container">
  <header class="header">
    <nav class="header__content">
      <ul class="header__navigation">
        <li class="header__content_item">
          <a class="header__content_link" href="../index.html">главная</a>
        </li>
        <li class="header__content_item">
          <a class="header__content_link" href="../about.html">личный кабинет</a>
        </li>
        <li class="header__content_item">
          <a class="header__content_link__active" href="../education.html">обучение</a>
        </li>
        <li class="header__content_item">
          <a class="header__content_link" href="../awards.html">награды</a>
        </li>
      </ul>
      <div class="hamburger-menu">
        <input id="menu__toggle" type="checkbox"/>
        <label class="menu__btn" for="menu__toggle">
          <span></span>
        </label>

        <ul class="menu__box">
          <li><a class="menu__item" href="../train.html">Тренажер таблицы умножения</a></li>
          <li><a class="menu__item" href="../table.html">Таблица умножения</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="main">
    <a href="../education.html"><img class="back2" src="../../img/back.png"/></a>
    <div class="main__content">
      <div class="title-wrapper">
        <h1 class="title">модуль<span class="one">3</span></h1>
      </div>

      <div class="back">
        <div class="circle"><img src="../../img/planet3.png" width="75"></div>
      </div>

      <div class="lesson">
        <ul class="text">
          <li class="first"><p><strong>Ого! У тебя здорово получается. Так держать! </strong></p>
          </li>
          <li><p>Сегодня мы с тобой разберемся, что такое таблица умножения и как ей пользоваться.</p></li>
          <li id="roctangle_1">
            <p>
              Таблица умножения — это специальная таблица, которая поможет тебе быстро и легко умножать числа.
            </p>
          </li>
          <li><p>Например, если тебе нужно умножить <font
            style="color: #7759AB">число</font><font
            style="color: #58A532"> 3</font> на <font
            style="color: #7759AB">число</font> <font
            style="color: #58A532">4</font>, то найди в таблице умножения <font
            style="color: #7491F8">строку</font> с числом 3 и <font
            style="color: #FFA6A6">столбец</font> с числом 4. </p></li>
          <li id="sum">
            <img src="../../img/tableforlesson.png" width="600">
          </li>
          <li><p>Там, где эти строки и столбцы пересекаются, ты найдешь ответ<br> на пример - это будет <font
            style="color: #7759AB">число</font> <font
            style="color: #58A532">12</font></p></li>
          <li class="second">
            <p >Таким образом, ты можешь использовать таблицу умножения для решения любых задач на умножение. Давай
              потренируемся вместе. Для этого открой таблицу умножения в подсказке к заданиям модуля
            </p>
            <img src="../../img/arrow6.png" class="arrow3" width="322">
            <button id="show">?</button>
          </li>
          <li class="third"><p>И попробуй решить примеры, находя ответы в таблице.</p></li>

          <li class="button_cont">
            <a class="button_continue" href="../modul3_tasks/task1.html">продолжить</a>
          </li>
          <li></li>
        </ul>
      </div>


    </div>
  </main>
</div>
</body>

</html>
