<!doctype html>
<html class="no-js" lang="ru" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="utf-8">
  <title>Обучение модуль 1</title>
  <link rel="shortcut icon" href="../../img/image1.png" type="image/x-icon" sizes="180"/>
  <meta name="description" content="Сайт для обучения детей таблице умножения">
  <link href="../../css/lessons/modul1.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
<div class="container">
  <header class="header">
    <nav class="header__content">
      <ul class="header__navigation">
        <li class="header__content_item">
          <a class="header__content_link" href="../index.html">главная</a>
        </li>
        <li class="header__content_item">
          <a class="header__content_link" href="../about.html">личный кабинет</a>
        </li>
        <li class="header__content_item">
          <a class="header__content_link__active" href="../education.html">обучение</a>
        </li>
        <li class="header__content_item">
          <a class="header__content_link" href="../awards.html">награды</a>
        </li>
      </ul>
      <div class="hamburger-menu">
        <input id="menu__toggle" type="checkbox" />
        <label class="menu__btn" for="menu__toggle">
          <span></span>
        </label>

        <ul class="menu__box">
          <li><a class="menu__item" href="../train.html">Тренажер таблицы умножения</a></li>
          <li><a class="menu__item" href="../table.html">Таблица умножения</a></li>
        </ul>
      </div>
    </nav>
  </header>
    <main class="main">

    <div class="main__content">
      <div class="title-wrapper">
        <h1 class="title">модуль<span class="one">1</span></h1>
      </div>

      <div class="back">
        <div class="circle"><img src="../../img/planet1.png" width="75"></div>
      </div>
      <a href="../education.html"><img class="back2" src="../../img/back.png"/></a>
      <div class="lesson">
        <ul class="text">
          <li class="first"><p>Наш с тобой первый урок будет о сложении.</p></li>
          <li><p>Представь, что у тебя в одной руке <font style=" color: #58A532"> 2</font> <font style="color: #583989">конфеты</font>, а в другой <font
            style="color: #58A532">1</font> <font style="color: #583989">конфета</font>. Если ты переложишь их в одну
            руку, то у тебя получится <font style="color: #58A532"> 3</font> <font style="color: #583989">конфеты</font>.</p>
          </li>
          <li id="roctangle_1">
            <img src="../../img/hands1.png" width="776.57">
          </li>
          <li>запишем это как &nbsp;<span class="examp" id="roctangle_3">2  +  1 = 3</span></li>
          <li>Потренируйся ещё складывать цифры, смотри на картинки и представляй, что держишь все в руках.</li>
          <li id="roctangle_2">
            <img src="../../img/onehand.png" width="105">
            <p>Если у тебя не получится, можешь загибать столько пальцев, сколько цифр написано на экране.</p>
          </li>
          <li class="button_cont">
            <a class="button_continue" href="../modul1_tasks/task1.html">продолжить</a>
          </li>
          <li></li>
        </ul>
      </div>


    </div>
  </main>
</div>
</body>

</html>
