.progress_indicator {
  width: 24px;
}

.tasks {
  margin: 131px 56px 0 62px;
  height: 457px;
}

#answer1 {
  position: absolute;
  left: 822px;
  top: 132px;
}

.marmel {
  padding-top: 91px;
}

#answer2 {
  position: absolute;
  left: 836px;
  top: 394px;
}





