@font-face {
  font-family: 'AAMagnum';
  src: url('../../fonts/AA Magnum.ttf') format('truetype');
}

@font-face {
  font-family: 'Amelia_DG';
  src: url("../../fonts/Amelia_DG.woff") format('woff'),
  url("../../fonts/Amelia_DG.ttf") format('truetype');
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html, body {
  height: 100vh;
  font-family: "AAMagnum", fantasy;
  background-color: #583989;
  background-image: url('../../img/backgroundPattern.png');
  background-size: contain;
}

p {
  display: inline-block
}

/* Ссылки без подчеркивания  */
a {
  text-decoration: none;
}

/* Расположение основного контейнера */
main {
  width: 1185px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

/* Шапка */
.header {
  width: 100%;
  height: 105px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
}

.header__content {
  width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 135px;
}

.header__navigation {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 80px;
  list-style: none;
}

.header__content_item {
}

.header__content_link {
  background-color: transparent;
  padding: 10px 13px;
  border-radius: 9px;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  color: #58A532;
  transition: .3s;
}

.header__content_link__active {
  padding: 10px 13px;
  border-radius: 9px;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  transition: .3s;
  background-color: #58A532;
  color: #FFF;
}

.header__content_link:hover {
  background-color: #58A532;
  color: #FFF;
}

.header__menu {
  height: 27px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.header__menu_line {
  width: 37px;
  height: 7px;
  border-radius: 10px;
  background-color: #58A532;
}

#menu__toggle {
  opacity: 0;
  height: 27px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  left: 83% !important;
  top: 105px;
  position: absolute;
  /*right: 0px; !important;*/
  text-align: right;
}

.menu__btn {
  position: fixed;
  top: 51px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;

}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  /*width: 100%;*/
  /*height: 2px;*/
  background-color: #58a432;
  transition-duration: .25s;
  width: 37px;
  height: 5px;
  border-radius: 7px;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: 200%;
  width: 244px;
  height: 20%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #000000;
  font-family: 'AA Magnum', sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

.link-block {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  display: inherit;
  flex-direction: column;
}


@media (max-width: 1161px) {
  .container {
    padding: 0 15px;
  }
}

.block-gallery__item:hover {
  filter: brightness(80%);
}

.title-wrapper {
  background: #3E9FB3;
  box-shadow: inset 0px -5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 41px;
  padding: 1.46px 35.32px 5.37px 57px;
  margin: auto;
  margin-top: 36px;
  display: flex;
  height: 109px;
  width: 527px;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 4px;


}

.title {
  font-family: 'Amelia_DG';
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 105px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;

}

.one {
  width: 26px;
  height: 105px;
  font-family: 'Amelia_DG';
  font-style: normal;
  font-weight: 400;
  margin-left: 10px;
  font-size: 96px;
  line-height: 105px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  -webkit-text-stroke: 4px #C6BCFF;
  color: #3E9FB3;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.back {
  width: 1170px;
  height: 50px;
  background: #FFFFFF;
  backdrop-filter: blur(5px);
  margin: 36px auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.circle {
  position: absolute;
  width: 77px;
  height: 77px;
  left: 555px;
  top: -35px;
  border-radius: 50%;
  background: #ffffff;
  padding: 2px;
  justify-items: center;
  display: flex;
  justify-content: center;
}

.lesson {
  width: 1170px;
  height: 600px;
  background: #FFFFFF;
  backdrop-filter: blur(5px);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-sizing: border-box;
  overflow-y: scroll;
  margin: auto;
  /*margin-top: 80px;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.lesson::-webkit-scrollbar {
  width: 10px;
}

.lesson::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #EAC95B;
}

.lesson::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background-color: #f9f9fd;
}

.first {
  margin-top: 10px;
  margin-bottom: 31px;
}

.first2 {
  height: 193px;

}

.first2 p {
  margin-top: 40px;
  text-align: left;
  width: 1054px;
}

.first2 img {
  margin-right: 10px;
}

.text li {
  width: 1155px;
  height: 64px;
  padding: 31px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  list-style-type: none;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 142.8%;
  leading-trim: both;
  text-edge: cap;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;

  color: #000000;
}

.text font {
  font-weight: bold;
}

/*.second {*/
/*  margin-top: 10px;*/
/*  margin-bottom: 51px;*/
/*}*/

#roctangle_1 {
  position: absolute;
  align-items: center;
  padding: 10px 18px;
  gap: 10px;

  width: 176px;
  height: 44px;
  left: 597px;
  top: 214px;

  background: #58A532;
  border-radius: 14px;



  font-family: 'AA Magnum', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;

  color: #FFFFFF;

}

#roctangle_2 {
  position: absolute;
  padding: 10px 18px;
  gap: 10px;

  width: 176px;
  height: 44px;
  left: 794px;
  top: 214px;

  background: #58A532;
  border-radius: 14px;
  font-family: 'AA Magnum', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;

  color: #FFFFFF;
}


#roctangle_3 {
  position: absolute;
  padding: 10px 18px;
  gap: 10px;

  width: 180px;
  height: 44px;
  left: 806px;
  top: 275px;

  background: #58A532;
  border-radius: 14px;
  font-family: 'AA Magnum', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;

  color: #FFFFFF;
}

#roctangle_4 {
  position: absolute;
  padding: 10px 18px;
  gap: 10px;

  width: 176px;
  height: 44px;
  left: 809px;
  top: 322px;

  background: #58A532;
  border-radius: 14px;
  font-family: 'AA Magnum', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;

  color: #FFFFFF;
}

#roctangle_5 {
  position: absolute;
  padding: 10px 18px;
  gap: 10px;

  width: 190px;
  height: 44px;
  left: 809px;
  top: 468px;

  background: #58A532;
  border-radius: 14px;
  font-family: 'AA Magnum', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;

  color: #FFFFFF;
}

#roctangle_6 {
  position: absolute;
  padding: 10px 18px;
  gap: 10px;

  width: 240px;
  height: 44px;
  left: 809px;
  top: 516px;

  background: #58A532;
  border-radius: 14px;
  font-family: 'AA Magnum', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;

  color: #FFFFFF;
}

#roctangle_7 {
  position: absolute;
  padding: 10px 18px;
  gap: 10px;

  width: 208px;
  height: 44px;
  left: 566px;
  top: 612px;

  background: #58A532;
  border-radius: 14px;
  font-family: 'AA Magnum', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;

  color: #FFFFFF;
}

#roctangle_8 {
  position: absolute;
  padding: 10px 18px;
  gap: 10px;

  width: 208px;
  height: 44px;
  left: 792px;
  top: 612px;

  background: #58A532;
  border-radius: 14px;
  font-family: 'AA Magnum', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;

  color: #FFFFFF;
}

#roctangle_9{
  width: 666px;
  height: 138px;
  left: 63px;
  top: 1014px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 142.8%;
  margin: 45px 15px;
  leading-trim: both;
  text-edge: cap;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  background: #7759AB;
  border-radius: 46px;
}
#roctangle_10{
  width: 666px;
  height: 138px;
  left: 63px;
  top: 1014px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 142.8%;
  leading-trim: both;
  text-edge: cap;
  display: flex;
  margin-left: 476px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  background: #7759AB;
  border-radius: 46px;
}

#roctangle_11{
  width: 666px;
  height: 138px;
  left: 63px;
  top: 1014px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 142.8%;
  margin: 45px 15px;
  leading-trim: both;
  text-edge: cap;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  background: #7759AB;
  border-radius: 46px;
}

#roctangle_2 img {
  margin-right: 43px;
}

#sum {
  width: 1121px;
  height: 605px;
  margin: 146px auto -14px auto;
  /* padding: 53px; */
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.arrow3 {
  position: absolute;
  top: 1289px;
  left: 710px;
  transform: rotate(8deg);
}


.second p {
  margin-top: 100px;
  text-align: left;
  width: 1054px;
}

.second {
  height: 193px;
}

.second img {
  margin-right: 10px;
  margin-top: 57px;
}

.table {
  margin-top: 622px;
}

.third {
  margin-top: 104px;
}

.third img {
  margin-right: 10px;

}

.third p {
  text-align: left;
  width: 1054px;
  margin-top: 47px;
}

.ten {
  margin-top: 80px;
}

.ten img {
  margin-right: 10px;

}

.ten p {
  text-align: left;
  width: 1054px;
  margin-top: 90px;
}

.poet {
  margin-top: 130px;
}

.examp {
  width: 131px;
  height: 21px;
  font-family: 'AA Magnum';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 43px;
  leading-trim: both;
  text-edge: cap;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: 2px solid #58A532;
  border-radius: 14px;
}

.four{
  margin: 68px auto 30px auto;
}
.button_cont{
  margin: 20px auto 50px auto;
}

.button_continue {
  font-family: "AAMagnum", fantasy;
  border: 5px solid #58A532;
  color: #ffffff;
  font-style: normal;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 0.11em;
  text-transform: capitalize;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 252px;
  height: 66px;
  background: #58A532;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 100px;

  margin: 80px auto 0 auto;
}

.button_continue:hover {
  background-color: #FFF;
  color: #58A532;
  border: 5px solid #FFF;
}

.back2 {
  position: absolute;
  width: 85px;
  height: 36px;
  left: 79px;
  top: 171px;
}
