<!doctype html>
<html class="no-js" lang="ru">

<head>
  <meta charset="utf-8">
  <title>Награды</title>
  <link rel="shortcut icon" href="../../img/image1.png" type="image/x-icon" sizes="180"/>
  <meta name="description" content="Сайт для обучения детей таблице умножения">
  <link href="../../css/tasks.css" rel="stylesheet">
  <link href="../../css/modul7/task4.css" rel="stylesheet">
</head>

<body>
<div class="container">
  <header class="header">
    <nav class="header__content">
      <ul class="header__navigation">
        <li class="header__content_item">
          <a class="header__content_link" href="../index.html">главная</a>
        </li>
        <li class="header__content_item">
          <a class="header__content_link" href="../about.html">личный кабинет</a>
        </li>
        <li class="header__content_item">
          <a class="header__content_link__active" href="../education.html">обучение</a>
        </li>
        <li class="header__content_item">
          <a class="header__content_link" href="../awards.html">награды</a>
        </li>
      </ul>
      <div class="header__menu">
        <div class="header__menu_line"></div>
        <div class="header__menu_line"></div>
        <div class="header__menu_line"></div>
      </div>
    </nav>
  </header>
  <main class="main">
    <div class="main__content">
      <div class="information">
        <div id="ellipse">
          <h1>модуль 7 - задания</h1>
        </div>
        <div class="animals">
          <img class="cloud" src="../../img/cloud_pig.png" width="147">
          <img class="animal" src="../../img/pig.png" height="140">
        </div>
      </div>
      <div class="task">
        <div id="roctangle_progress">
          <div class="progress_indicator_track">
            <div class="progress_indicator"></div>
          </div>
          <div class="ruler">
            <p>1 2 3 4 5 6</p>
            <aside class="line1"></aside>
            <aside class="line2"></aside>
            <aside class="line3"></aside>
            <aside class="line4"></aside>
            <aside class="line5"></aside>
          </div>
        </div>
        <a href="task5.html" class="continue">Продолжить</a>
      </div>
    </div>
  </main>
</div>
</body>

</html>
