<!doctype html>
<html class="no-js" lang="ru" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="utf-8">
  <title>Личный кабинет</title>
  <link rel="shortcut icon" href="../img/image1.png" type="image/x-icon" sizes="180"/>
  <meta name="description" content="Сайт для обучения детей таблице умножения">
  <link href="../css/about.css" rel="stylesheet">
</head>

<body>
<div class="container">
  <header class="header">
    <nav class="header__content">
      <ul class="header__navigation">
        <li class="header__content_item">
          <a class="header__content_link" href="index.html">главная</a>
        </li>
        <li class="header__content_item">
          <a class="header__content_link__active" href="about.html">личный кабинет</a>
        </li>
        <li class="header__content_item">
          <a class="header__content_link" href="education.html">обучение</a>
        </li>
        <li class="header__content_item">
          <a class="header__content_link" href="awards.html">награды</a>
        </li>
      </ul>
      <div class="hamburger-menu">
        <input id="menu__toggle" type="checkbox" />
        <label class="menu__btn" for="menu__toggle">
          <span></span>
          <span></span>
          <span></span>

        </label>

        <ul class="menu__box">
          <li><a class="menu__item" href="train.html">Тренажер таблицы умножения</a></li>
          <li><a class="menu__item" href="table.html">Таблица умножения</a></li>
          <li><a class="menu__item" href="entrance.html">Выйти</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="main">
    <div class="main__content">
      <aside id="circle1"></aside>
      <aside id="circle2"></aside>
      <aside id="circle3"></aside>
      <aside id="circle4"></aside>
      <div class="information">
        <div id="circle_avatar"><img class="house" src="../img/House.png"></div>
        <div class="name"><p>Ваше имя</p></div>
        <div id="circle_count"><img src="../img/Coin.png" width="70.8"></div>
        <p class="count">25</p>
        <img class="cards" src="../img/Cards.png">
        <p class="text_money">
          <font color="#FFFFFF">умно</font><font color="#EAC95B">коины</font>
        </p>
      </div>

      <div class="progress_or_exercises">
        <aside class="background_ellipse">
          <!--<p>ТОЛЬКО МОДУЛИ</p>-->
          <div class="progress">
            <aside class="ellipse_progress ">
              <p class="progress_text">прогресс</p>
              <img src="../img/Graphic.png">
            </aside>
            <aside class="ellipse_exercises task">
              <p class="exercises_text ">задания</p>
              <img src="../img/calendar.png">
            </aside>

            <div class="back_modu">
              <div class="line"></div>
              <div class="moduls">
                <div id="roctangle_1">
                  <img class="number_moduls" src="../img/modul1.png">
                  <p>модуль</p>
                  <div class="progress_indicator_track">
                    <div class="progress_indicator"></div>
                    <div class="done1_1"></div>
                    <div class="done2_1"></div>
                    <div class="done3_1"></div>
                    <div class="done4_1"></div>
                    <div class="done5_1"></div>
                    <div class="done6_1"></div>
                  </div>
                  <div class="num_done_tasks">1/6</div>
                </div>
                <div id="roctangle_2">
                  <img class="number_moduls" src="../img/modul2.png">
                  <p>модуль</p>
                  <div class="progress_indicator_track">
                    <div class="progress_indicator"></div>
                    <div class="done1_2"></div>
                    <div class="done2_2"></div>
                    <div class="done3_2"></div>
                    <div class="done4_2"></div>
                    <div class="done5_2"></div>
                    <div class="done6_2"></div>
                  </div>
                  <div class="num_done_tasks">0/6</div>

                </div>
                <div id="roctangle_3">
                  <img class="number_moduls" src="../img/modul3.png">
                  <p>модуль</p>
                  <div class="progress_indicator_track">
                    <div class="progress_indicator">
                      <div class="done1_3"></div>
                      <div class="done2_3"></div>
                      <div class="done3_3"></div>
                      <div class="done4_3"></div>
                      <div class="done5_3"></div>
                      <div class="done6_3"></div>
                    </div>
                  </div>
                  <div class="num_done_tasks">0/6</div>
                </div>
                <div id="roctangle_4">
                  <img class="number_moduls" src="../img/modul4.png">
                  <p>модуль</p>
                  <div class="progress_indicator_track">
                    <div class="progress_indicator">
                      <div class="done1_4"></div>
                      <div class="done2_4"></div>
                      <div class="done3_4"></div>
                      <div class="done4_4"></div>
                      <div class="done5_4"></div>
                      <div class="done6_4"></div>
                    </div>
                  </div>
                  <div class="num_done_tasks">0/6</div>


                </div>
                <div id="roctangle_5">
                  <img class="number_moduls" src="../img/modul5.png">
                  <p>модуль</p>
                  <div class="progress_indicator_track">
                    <div class="progress_indicator">
                      <div class="done1_5"></div>
                      <div class="done2_5"></div>
                      <div class="done3_5"></div>
                      <div class="done4_5"></div>
                      <div class="done5_5"></div>
                      <div class="done6_5"></div>
                    </div>
                  </div>
                  <div class="num_done_tasks">0/6</div>


                </div>
                <div id="roctangle_6">
                  <img class="number_moduls" src="../img/modul6.png">
                  <p>модуль</p>
                  <div class="progress_indicator_track">
                    <div class="progress_indicator">
                      <div class="done1_6"></div>
                      <div class="done2_6"></div>
                      <div class="done3_6"></div>
                      <div class="done4_6"></div>
                      <div class="done5_6"></div>
                      <div class="done6_6"></div>
                    </div>
                  </div>
                  <div class="num_done_tasks">0/6</div>


                </div>
                <div id="roctangle_7">
                  <img class="number_moduls" src="../img/modul7.png">
                  <p>модуль</p>
                  <div class="progress_indicator_track">
                    <div class="progress_indicator">
                      <div class="done1_7"></div>
                      <div class="done2_7"></div>
                      <div class="done3_7"></div>
                      <div class="done4_7"></div>
                      <div class="done5_7"></div>
                      <div class="done6_7"></div>
                    </div>
                  </div>
                  <div class="num_done_tasks">0/6</div>

                </div>
                <div id="roctangle_8">
                  <img class="number_moduls" src="../img/modul8.png">
                  <p>модуль</p>
                  <div class="progress_indicator_track">
                    <div class="progress_indicator">
                      <div class="done1_8"></div>
                      <div class="done2_8"></div>
                      <div class="done3_8"></div>
                      <div class="done4_8"></div>
                      <div class="done5_8"></div>
                      <div class="done6_8"></div>
                    </div>
                  </div>
                  <div class="num_done_tasks">0/6</div>

                </div>
              </div>
            </div>
          </div>


          <!--МОДУЛИ С ЗАДАНИЯМИ -->
          <div class="exercises">
            <aside class="ellipse_progress modul">
              <p class="progress_text">прогресс</p>
              <img src="../img/Graphic.png">
            </aside>
            <aside class="ellipse_exercises">
              <p class="exercises_text ">задания</p>
              <img src="../img/calendar.png">
            </aside>

            <div class="small_mod">
              <div class="line_s"></div>
              <div class="moduls_s">
                <!--<p>МИНИ МОДУЛИ</p>-->
                <div id="roctangle_1s">
                  <img class="number_moduls" src="../img/modul1.png">
                  <p>модуль &nbsp; &mdash; &nbsp; <span style="color: #3E9FB3">6</span> заданий</p>
                  <img class="check_mark" src="../img/check_mark_bottom.png">
                </div>
                <div id="roctangle_2s">
                  <img class="number_moduls" src="../img/modul2.png">
                  <p>модуль &nbsp; &mdash; &nbsp; <span style="color: #3E9FB3">6</span> заданий</p>
                  <img class="check_mark" src="../img/check_mark_bottom.png">
                </div>
                <div id="roctangle_3s">
                  <img class="number_moduls" src="../img/modul3.png">
                  <p>модуль &nbsp; &mdash; &nbsp; <span style="color: #3E9FB3">6</span> заданий</p>
                  <img class="check_mark" src="../img/check_mark_bottom.png">
                </div>
                <div id="roctangle_4s">
                  <img class="number_moduls" src="../img/modul4.png">
                  <p>модуль &nbsp; &mdash; &nbsp; <span style="color: #3E9FB3">6</span> заданий</p>
                  <img class="check_mark" src="../img/check_mark_bottom.png">
                </div>
                <div id="roctangle_5s">
                  <img class="number_moduls" src="../img/modul5.png">
                  <p>модуль &nbsp; &mdash; &nbsp; <span style="color: #3E9FB3">6</span> заданий</p>
                  <img class="check_mark" src="../img/check_mark_bottom.png">
                </div>
                <div id="roctangle_6s">
                  <img class="number_moduls" src="../img/modul6.png">
                  <p>модуль &nbsp; &mdash; &nbsp; <span style="color: #3E9FB3">6</span> заданий</p>
                  <img class="check_mark" src="../img/check_mark_bottom.png">
                </div>
                <div id="roctangle_7s">
                  <img class="number_moduls" src="../img/modul7.png">
                  <p>модуль &nbsp; &mdash; &nbsp; <span style="color: #3E9FB3">6</span> заданий</p>
                  <img class="check_mark" src="../img/check_mark_bottom.png">
                </div>
                <div id="roctangle_8s">
                  <img class="number_moduls" src="../img/modul8.png">
                  <p>модуль &nbsp; &mdash; &nbsp; <span style="color: #3E9FB3">6</span> заданий</p>
                  <img class="check_mark" src="../img/check_mark_bottom.png">
                </div>
              </div>
            </div>
            <div class="small_task">
              <div class="line1"></div>
              <div class="line2"></div>
              <div class="line3"></div>
              <div class="line4"></div>
              <!--<p>ЗАДАНИЯ</p>-->
              <div id="modul1_tasks">
                <a href="modul1_tasks/task1.html"><img class="task1" src="../img/task1.png"></a>
                <a href="modul1_tasks/task2.html"><img class="task2" src="../img/task2.png"></a>
                <a href="modul1_tasks/task3.html"><img class="task3" src="../img/task3.png"></a>
                <a href="modul1_tasks/task4.html"><img class="task4" src="../img/task4.png"></a>
                <a href="modul1_tasks/task5.html"><img class="task5" src="../img/task5.png"></a>
                <a href="modul1_tasks/task6.html"><img class="task6" src="../img/task6.png"></a>
              </div>
              <div id="modul2_tasks">
                <a href="modul2_tasks/task1.html"><img class="task1" src="../img/task1.png"></a>
                <a href="modul2_tasks/task2.html"><img class="task2" src="../img/task2.png"></a>
                <a href="modul2_tasks/task3.html"><img class="task3" src="../img/task3.png"></a>
                <a href="modul2_tasks/task4.html"><img class="task4" src="../img/task4.png"></a>
                <a href="modul2_tasks/task5.html"><img class="task5" src="../img/task5.png"></a>
                <a href="modul2_tasks/task6.html"><img class="task6" src="../img/task6.png"></a>
              </div>
              <div id="modul3_tasks">
                <a href="modul3_tasks/task1.html"><img class="task1" src="../img/task1.png"></a>
                <a href="modul3_tasks/task2.html"><img class="task2" src="../img/task2.png"></a>
                <a href="modul3_tasks/task3.html"><img class="task3" src="../img/task3.png"></a>
                <a href="modul3_tasks/task4.html"><img class="task4" src="../img/task4.png"></a>
                <a href="modul3_tasks/task5.html"><img class="task5" src="../img/task5.png"></a>
                <a href="modul3_tasks/task6.html"><img class="task6" src="../img/task6.png"></a>
              </div>
              <div id="modul4_tasks">
                <a href="modul4_tasks/task1.html"><img class="task1" src="../img/task1.png"></a>
                <a href="modul4_tasks/task2.html"><img class="task2" src="../img/task2.png"></a>
                <a href="modul4_tasks/task3.html"><img class="task3" src="../img/task3.png"></a>
                <a href="modul4_tasks/task4.html"><img class="task4" src="../img/task4.png"></a>
                <a href="modul4_tasks/task5.html"><img class="task5" src="../img/task5.png"></a>
                <a href="modul4_tasks/task6.html"><img class="task6" src="../img/task6.png"></a>
              </div>
              <div id="modul5_tasks">
                <a href="modul5_tasks/task1.html"><img class="task1" src="../img/task1.png"></a>
                <a href="modul5_tasks/task2.html"><img class="task2" src="../img/task2.png"></a>
                <a href="modul5_tasks/task3.html"><img class="task3" src="../img/task3.png"></a>
                <a href="modul5_tasks/task4.html"><img class="task4" src="../img/task4.png"></a>
                <a href="modul5_tasks/task5.html"><img class="task5" src="../img/task5.png"></a>
                <a href="modul5_tasks/task6.html"><img class="task6" src="../img/task6.png"></a>
              </div>
              <div id="modul6_tasks">
                <a href="develop.html"><img class="task1" src="../img/task1.png"></a>
                <a href="develop.html"><img class="task2" src="../img/task2.png"></a>
                <a href="develop.html"><img class="task3" src="../img/task3.png"></a>
                <a href="develop.html"><img class="task4" src="../img/task4.png"></a>
                <a href="develop.html"><img class="task5" src="../img/task5.png"></a>
                <a href="develop.html"><img class="task6" src="../img/task6.png"></a>
              </div>
              <div id="modul7_tasks">
                <a href="develop.html"><img class="task1" src="../img/task1.png"></a>
                <a href="develop.html"><img class="task2" src="../img/task2.png"></a>
                <a href="develop.html"><img class="task3" src="../img/task3.png"></a>
                <a href="develop.html"><img class="task4" src="../img/task4.png"></a>
                <a href="develop.html"><img class="task5" src="../img/task5.png"></a>
                <a href="develop.html"><img class="task6" src="../img/task6.png"></a>
              </div>
              <div id="modul8_tasks">
                <a href="develop.html"><img class="task1" src="../img/task1.png"></a>
                <a href="develop.html"><img class="task2" src="../img/task2.png"></a>
                <a href="develop.html"><img class="task3" src="../img/task3.png"></a>
                <a href="develop.html"><img class="task4" src="../img/task4.png"></a>
                <a href="develop.html"><img class="task5" src="../img/task5.png"></a>
                <a href="develop.html"><img class="task6" src="../img/task6.png"></a>
              </div>
            </div>
          </div>
        </aside>
      </div>
    </div>

  </main>
</div>
<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
<script src="../js/about.js"></script>
</body>

</html>
