<!doctype html>
<html class="no-js" lang="ru" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="utf-8">
  <title>Награды</title>
  <link rel="shortcut icon" href="../img/image1.png" type="image/x-icon" sizes="180"/>
  <meta name="description" content="Сайт для обучения детей таблице умножения">
  <link href="../css/awards.css" rel="stylesheet">
</head>

<body>
<div class="container">
  <header class="header">
    <nav class="header__content">
      <ul class="header__navigation">
        <li class="header__content_item">
          <a class="header__content_link" href="index.html">главная</a>
        </li>
        <li class="header__content_item">
          <a class="header__content_link" href="about.html">личный кабинет</a>
        </li>
        <li class="header__content_item">
          <a class="header__content_link" href="education.html">обучение</a>
        </li>
        <li class="header__content_item">
          <a class="header__content_link__active" href="awards.html">награды</a>
        </li>
      </ul>
      <div class="hamburger-menu">
        <input id="menu__toggle" type="checkbox"/>
        <label class="menu__btn" for="menu__toggle">
          <span></span>
        </label>

        <ul class="menu__box">
          <li><a class="menu__item" href="train.html">Тренажер таблицы умножения</a></li>
          <li><a class="menu__item" href="table.html">Таблица умножения</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="main">
    <div class="main__content">
      <aside id="circle1"></aside>
      <aside id="circle2"></aside>
      <div class="information">
        <div id="circle_avatar"><img class="house" src="../img/House.png"></div>
        <div class="name"><p>Ваше имя</p></div>
        <div id="circle_count"><img src="../img/Coin.png" width="70.8"></div>
        <p class="count">25</p>
        <img class="cards" src="../img/Cards.png">
        <p class="text_money">
          <font color="#FFFFFF">умно</font><font color="#EAC95B">коины</font>
        </p>
      </div>
      <div class="awards">
        <div class="title_block">
          <p class="title">награды</p>
          <img class="confeti" src="../img/confeti.png" width="71">
        </div>
        <div>
          <ul class="block-gallery">
            <li class="block-gallery__item block-item block-item_yellow">
              <div class="link-block">
                <img class="money" src="../img/6umnocoin.png" alt="монетка">
                <div class="bellow">
                  <div class="tag">
                    <div class="tag__body tag__title_location">
                      <p class="tag__title">часть <span class="tag__title_number tag__title_number-1">1</span></p>
                    </div>

                    <svg class="tag-tail tag__tail" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6">
                      <path class="tag-tail__path" fill-rule="evenodd" clip-rule="evenodd"
                            d="M9.22818 0C9.74616 2.06668 10.421 4.07114 11.2393 6H6C2.68629 6 0 3.31371 0 0H9.22818Z"/>
                    </svg>
                  </div>
                  <a id="part1" class="getter" onclick="getter1()" href="awards_fairy_tale/part1.html">получить</a>
                </div>

              </div>
            </li>
            <li class="block-gallery__item block-item block-item_violet">
              <div class="link-block">
                <img class="money" src="../img/6umnocoin.png" alt="монетка">
                <div class="bellow">
                  <div class="tag">
                    <div class="tag__body tag__title_location">
                      <p class="tag__title">часть <span class="tag__title_number tag__title_number-2">2</span></p>
                    </div>

                    <svg class="tag-tail tag__tail" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6">
                      <path class="tag-tail__path" fill-rule="evenodd" clip-rule="evenodd"
                            d="M9.22818 0C9.74616 2.06668 10.421 4.07114 11.2393 6H6C2.68629 6 0 3.31371 0 0H9.22818Z"/>
                    </svg>
                  </div>

                  <a id="part2" class="getter" onclick="getter2()" href="develop.html">получить</a>
                </div>
              </div>
            </li>
            <li class="block-gallery__item block-item block-item_light_pink">
              <div class="link-block">
                <img class="money" src="../img/6umnocoin.png" alt="монетка">
                <div class="bellow">
                  <div class="tag">
                    <div class="tag__body tag__title_location">
                      <p class="tag__title">часть <span class="tag__title_number tag__title_number-3">3</span></p>
                    </div>

                    <svg class="tag-tail tag__tail" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6">
                      <path class="tag-tail__path" fill-rule="evenodd" clip-rule="evenodd"
                            d="M9.22818 0C9.74616 2.06668 10.421 4.07114 11.2393 6H6C2.68629 6 0 3.31371 0 0H9.22818Z"/>
                    </svg>
                  </div>
                  <a id="part3" class="getter" onclick="getter3()" href="develop.html">получить</a>
                </div>
              </div>
            </li>
            <li class="block-gallery__item block-item block-item_grey-blue">
              <div class="link-block">
                <img class="money" src="../img/6umnocoin.png" alt="монетка">
                <div class="bellow">
                  <div class="tag">
                    <div class="tag__body tag__title_location">
                      <p class="tag__title">часть <span class="tag__title_number tag__title_number-4">4</span></p>
                    </div>

                    <svg class="tag-tail tag__tail" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6">
                      <path class="tag-tail__path" fill-rule="evenodd" clip-rule="evenodd"
                            d="M9.22818 0C9.74616 2.06668 10.421 4.07114 11.2393 6H6C2.68629 6 0 3.31371 0 0H9.22818Z"/>
                    </svg>
                  </div>
                  <a id="part4" class="getter" onclick="getter4()" href="develop.html">получить</a>
                </div>
              </div>
            </li>
            <li class="block-gallery__item block-item block-item_grey-pink">
              <div class="link-block">
                <img class="money" src="../img/6umnocoin.png" alt="монетка">
                <div class="bellow">
                  <div class="tag">
                    <div class="tag__body tag__title_location">
                      <p class="tag__title">часть <span class="tag__title_number tag__title_number-5">5</span></p>
                    </div>

                    <svg class="tag-tail tag__tail" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6">
                      <path class="tag-tail__path" fill-rule="evenodd" clip-rule="evenodd"
                            d="M9.22818 0C9.74616 2.06668 10.421 4.07114 11.2393 6H6C2.68629 6 0 3.31371 0 0H9.22818Z"/>
                    </svg>
                  </div>
                  <a id="part5" class="getter" onclick="getter5()" href="develop.html">получить</a>
                </div>
              </div>
            </li>
            <li class="block-gallery__item block-item block-item_light-green">
              <div class="link-block">
                <img class="money" src="../img/6umnocoin.png" alt="монетка">
                <div class="bellow">
                  <div class="tag">
                    <div class="tag__body tag__title_location">
                      <p class="tag__title">часть <span class="tag__title_number tag__title_number-6">6</span></p>
                    </div>

                    <svg class="tag-tail tag__tail" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6">
                      <path class="tag-tail__path" fill-rule="evenodd" clip-rule="evenodd"
                            d="M9.22818 0C9.74616 2.06668 10.421 4.07114 11.2393 6H6C2.68629 6 0 3.31371 0 0H9.22818Z"/>
                    </svg>
                  </div>
                  <a id="part6" class="getter" onclick="getter6()" href="develop.html">получить</a>
                </div>
              </div>
            </li>
            <li class="block-gallery__item block-item block-item_red">
              <div class="link-block">
                <img class="money" src="../img/6umnocoin.png" alt="монетка">
                <div class="bellow">
                  <div class="tag">
                    <div class="tag__body tag__title_location">
                      <p class="tag__title">часть <span class="tag__title_number tag__title_number-7">7</span></p>
                    </div>

                    <svg class="tag-tail tag__tail" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6">
                      <path class="tag-tail__path" fill-rule="evenodd" clip-rule="evenodd"
                            d="M9.22818 0C9.74616 2.06668 10.421 4.07114 11.2393 6H6C2.68629 6 0 3.31371 0 0H9.22818Z"/>
                    </svg>
                  </div>
                  <a id="part7" class="getter" onclick="getter7()" href="develop.html">получить</a>
                </div>
              </div>
            </li>

            <li class="block-gallery__item block-item block-item_pink">
              <div class="link-block">
                <img class="money" src="../img/6umnocoin.png" alt="монетка">
                <div class="bellow">
                  <div class="tag">
                    <div class="tag__body tag__title_location">
                      <p class="tag__title tag__title_location-8">часть <span
                        class="tag__title_number tag__title_number-8">8</span>
                      </p>
                    </div>

                    <svg class="tag-tail tag__tail" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6">
                      <path class="tag-tail__path" fill-rule="evenodd" clip-rule="evenodd"
                            d="M9.22818 0C9.74616 2.06668 10.421 4.07114 11.2393 6H6C2.68629 6 0 3.31371 0 0H9.22818Z"/>
                    </svg>
                  </div>
                  <a id="part8" class="getter" onclick="getter8()" href="develop.html">получить</a>
                </div>
              </div>
            </li>

          </ul>
        </div>
      </div>

    </div>

  </main>
</div>
<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
<script src="../js/awards.js"></script>

</body>

</html>
