<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Награды</title>
  <link rel="shortcut icon" href="../img/image1.png" type="image/x-icon" sizes="180"/>
  <meta name="description" content="Сайт для обучения детей таблице умножения">
  <link href="../css/develop.css" rel="stylesheet">
  <link href="https://allfont.ru/allfont.css?fonts=amelia_dg" rel="stylesheet" type="text/css" />

</head>
<body>
<main class="main">
  <div class="main__content">
    <div class="error_bloсk" align="center">
      <img class="ellipse" src="../img/Ellipse.png">
      <img class="error" src="../img/Error.png">
      <p class="yps">Ой...</p>
      <p class="discript">к сожалению, эта страница пока <br>
        находится в разработке </p>
      <div class="button">
        <a class="content_link" href="index.html">
          <p align="center">Перейти на главную</p>
        </a>
      </div>
    </div>
  </div>
</main>


</body>
</html>
