<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="../img/image1.png" type="image/x-icon" sizes="180"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/education.css">
  <title>Уроки</title>
</head>

<body>
<header class="header">
  <nav class="header__content">
    <ul class="header__navigation">
      <li class="header__content_item">
        <a class="header__content_link" href="index.html">главная</a>
      </li>
      <li class="header__content_item">
        <a class="header__content_link" href="about.html">личный кабинет</a>
      </li>
      <li class="header__content_item">
        <a class="header__content_link__active" href="education.html">обучение</a>
      </li>
      <li class="header__content_item">
        <a class="header__content_link" href="awards.html">награды</a>
      </li>
    </ul>
    <div class="hamburger-menu">
      <input id="menu__toggle" type="checkbox" />
      <label class="menu__btn" for="menu__toggle">
        <span></span>
      </label>

      <ul class="menu__box">
        <li><a class="menu__item" href="train.html">Тренажер таблицы умножения</a></li>
        <li><a class="menu__item" href="table.html">Таблица умножения</a></li>
      </ul>
    </div>
  </nav>
</header>
<main>

  <div class="title-wrapper">
    <h1 class="title">УРОКИ </h1>
    <img class="bell" src="../img/Clock-1.png" alt="колокольчик">
  </div>

  <ul class="block-gallery">
    <li class="block-gallery__item block-item block-item_yellow">
      <a class="link-block" href="intro.html">
        <img class="planet1" src="../img/planet1.png" alt="планета1">
        <div class="tag">
          <div class="tag__body tag__title_location-1">
            <p class="tag__title">модуль <span class="tag__title_number tag__title_number-1">1</span></p>
          </div>

          <svg class="tag-tail tag__tail" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6">
            <path class="tag-tail__path" fill-rule="evenodd" clip-rule="evenodd" d="M9.22818 0C9.74616 2.06668 10.421 4.07114 11.2393 6H6C2.68629 6 0 3.31371 0 0H9.22818Z"/>
          </svg>
        </div>


      </a>
    </li>
    <li class="block-gallery__item block-item block-item_violet">
      <a class="link-block" href="lessons/modul2.html">
        <img class="planet2" src="../img/planet2.png" alt="планета2">

        <div class="tag">
          <div class="tag__body tag__title_location-2">
            <p class="tag__title">модуль <span class="tag__title_number tag__title_number-2">2</span></p>
          </div>

          <svg class="tag-tail tag__tail" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6">
            <path class="tag-tail__path" fill-rule="evenodd" clip-rule="evenodd" d="M9.22818 0C9.74616 2.06668 10.421 4.07114 11.2393 6H6C2.68629 6 0 3.31371 0 0H9.22818Z"/>
          </svg>
        </div>
      </a>
    </li>
    <li class="block-gallery__item block-item block-item_light_pink">
      <a class="link-block" href="lessons/modul3.html">
        <img class="planet3" src="../img/planet3.png" alt="планета3">
        <div class="tag">
          <div class="tag__body tag__title_location-3">
            <p class="tag__title">модуль <span class="tag__title_number tag__title_number-3">3</span></p>
          </div>

          <svg class="tag-tail tag__tail" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6">
            <path class="tag-tail__path" fill-rule="evenodd" clip-rule="evenodd" d="M9.22818 0C9.74616 2.06668 10.421 4.07114 11.2393 6H6C2.68629 6 0 3.31371 0 0H9.22818Z"/>
          </svg>
        </div>
      </a>
    </li>
    <li class="block-gallery__item block-item block-item_grey-blue">
      <a class="link-block" href="lessons/modul4.html">
        <img class="planet4" src="../img/planet4.png" alt="планета4">
        <div class="tag">
          <div class="tag__body tag__title_location-4">
            <p class="tag__title">модуль <span class="tag__title_number tag__title_number-4">4</span></p>
          </div>

          <svg class="tag-tail tag__tail" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6">
            <path class="tag-tail__path" fill-rule="evenodd" clip-rule="evenodd" d="M9.22818 0C9.74616 2.06668 10.421 4.07114 11.2393 6H6C2.68629 6 0 3.31371 0 0H9.22818Z"/>
          </svg>
        </div>
      </a>
    </li>
    <li class="block-gallery__item block-item block-item_grey-pink">
      <a class="link-block" href="lessons/modul5.html">
        <img class="planet5" src="../img/planet5.png" alt="планета5">
        <div class="tag">
          <div class="tag__body tag__title_location-5">
            <p class="tag__title">модуль <span class="tag__title_number tag__title_number-5">5</span></p>
          </div>

          <svg class="tag-tail tag__tail" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6">
            <path class="tag-tail__path" fill-rule="evenodd" clip-rule="evenodd" d="M9.22818 0C9.74616 2.06668 10.421 4.07114 11.2393 6H6C2.68629 6 0 3.31371 0 0H9.22818Z"/>
          </svg>
        </div>
      </a>
    </li>
    <li class="block-gallery__item block-item block-item_light-green">
      <a class="link-block" href="develop.html">
        <img class="planet6" src="../img/planet6.png" alt="планета6">
        <div class="tag">
          <div class="tag__body tag__title_location-6">
            <p class="tag__title">модуль <span class="tag__title_number tag__title_number-6">6</span></p>
          </div>

          <svg class="tag-tail tag__tail" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6">
            <path class="tag-tail__path" fill-rule="evenodd" clip-rule="evenodd" d="M9.22818 0C9.74616 2.06668 10.421 4.07114 11.2393 6H6C2.68629 6 0 3.31371 0 0H9.22818Z"/>
          </svg>
        </div>
      </a>
    </li>
    <li class="block-gallery__item block-item block-item_red">
      <a class="link-block" href="develop.html">
        <img class="planet7" src="../img/planet7.png" alt="планета7">
        <div class="tag">
          <div class="tag__body tag__title_location-7">
            <p class="tag__title">модуль <span class="tag__title_number tag__title_number-7">7</span></p>
          </div>

          <svg class="tag-tail tag__tail" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6">
            <path class="tag-tail__path" fill-rule="evenodd" clip-rule="evenodd" d="M9.22818 0C9.74616 2.06668 10.421 4.07114 11.2393 6H6C2.68629 6 0 3.31371 0 0H9.22818Z"/>
          </svg>
        </div>
      </a>
    </li>

    <li class="block-gallery__item block-item block-item_pink">
      <a class="link-block" href="develop.html">
        <img class="planet8" src="../img/planet8.png" alt="планета8">
        <div class="tag">
          <div class="tag__body tag__title_location-8">
            <p class="tag__title tag__title_location-8">модуль <span class="tag__title_number tag__title_number-8">8</span></p>
          </div>

          <svg class="tag-tail tag__tail" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6">
            <path class="tag-tail__path" fill-rule="evenodd" clip-rule="evenodd" d="M9.22818 0C9.74616 2.06668 10.421 4.07114 11.2393 6H6C2.68629 6 0 3.31371 0 0H9.22818Z"/>
          </svg>
        </div>
      </a>
    </li>

  </ul>

</main>
</body>

</html>
