<!doctype html>
<html class="no-js" lang="ru">

<head>
  <meta charset="utf-8">
  <title>Таблица умножения</title>
  <link rel="shortcut icon" href="../img/image1.png" type="image/x-icon" sizes="180"/>
  <meta name="description" content="Сайт для обучения детей таблице умножения">
  <link href="../css/main.css" rel="stylesheet">

</head>
<body>
<div class="container">
  <header class="header">
    <nav class="header__content">
      <ul class="header__navigation">
        <li class="header__content_item">
          <a class="header__content_link__active" href="index.html">главная</a>
        </li>
        <li class="header__content_item">
          <a class="header__content_link" href="about.html">личный кабинет</a>
        </li>
        <li class="header__content_item">
          <a class="header__content_link" href="education.html">обучение</a>
        </li>
        <li class="header__content_item">
          <a class="header__content_link" href="awards.html">награды</a>
        </li>
      </ul>
      <div class="hamburger-menu">
        <input id="menu__toggle" type="checkbox" />
        <label class="menu__btn" for="menu__toggle">
          <span></span>
        </label>

        <ul class="menu__box">
          <li><a class="menu__item" href="train.html">Тренажер таблицы умножения</a></li>
          <li><a class="menu__item" href="table.html">Таблица умножения</a></li>
        </ul>
      </div>
<!--      <div class="header__menu">-->
<!--        <div class="header__menu_line"></div>-->
<!--        <div class="header__menu_line"></div>-->
<!--        <div class="header__menu_line"></div>-->
<!--      </div>-->
    </nav>
  </header>
  <main class="main">
    <div class="main__content">
      <div class="main__owl">
        <img src="../img/сова.png">
      </div>
      <div class ="numbers_and_circles">
        <div class="num__5">
          <img src="../img/5.png" height="300">
        </div>
        <div class="num__2">
          <img src="../img/2.png" height="121">
        </div>
        <div class="num__8">
          <img src="../img/8.png" height="300" >
        </div>
        <div id="circle1"></div>
        <div id="circle2"></div>
        <div id="circle3"></div>
        <div id="circle4"></div>
        <div id="circle5"></div>
        <div id="circle6"></div>

      </div>

      <div class="main__title">
        <div class="main__title_main">
          <p>таблица умножения</p>
        </div>
        <div class="main__title_sub">
          <p>для детей</p>
        </div>
      </div>
      <footer class="footer">
        <p>66bit</p>
        <div class="footer__button">
          <a class="footer__content_link" href="Registration.html">начать</a>
        </div>
      </footer>
    </div>
  </main>
</div>
</body>


</html>
